/* css styles */
h1{
  color: skyblue;
}
h2{
  color: yellowgreen;
}

h3{
  color: black;
  font-style: italic;
}

p {
  color:black;
}

body {
  font-family: Georgia;
  font-size: 15px;
  color:black;
  background-color: lightyellow;
}

li, ul, ol {
  color:red;
}

a{
  color: pink;
}



a:hover{
  color: magenta;
}

a:visited {
  color:black;
}



/* ----- LIGHT MODE ----- */
@media (prefers-color-scheme: light) {
  .about-links a i {
    color: #ff69b4; /* pink icons in light mode */
  }



/* ----- DARK MODE ----- */
@media (prefers-color-scheme: dark) {
  .about-links a i {
    color: #00ffff; /* cyan icons in dark mode */
  }

