/* css styles */
p, h1{
  color: skyblue;
}
h2{
  color: yellowgreen;
}

h3{
  color: black;
  font-style: italic;
}

body,p {
  font-family: Georgia;
  font-size: 10px;
  background-color: cornsilk ;
}

li, ul, ol {
  color:red;
}

a{
  color: pink;
}

a:hover{
  color: magenta;
}

a:visited {
  color:black;
}